<div class="board-cell @(IsClickable ? "cell-clickable" : "cell-not-clickable")" @onclick="HandleClick">
	@Content
</div>

@code {
	[Parameter]
	public string Content { get; set; } = string.Empty;
	[Parameter]
	public bool IsClickable { get; set; } = true;

	[Parameter]
	public EventCallback OnClick { get; set; }

	async Task HandleClick()
	{ 
		if (IsClickable) await OnClick.InvokeAsync();
	}
}
