@inherits LayoutComponentBase
@inject NavigationManager NavManager
@inject UserService User

<div class="page vh-100">
    <main>
        <article class="content vh-100 z-1 position-relative ps-0 pe-0">
            <NavBar />
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {

}
