@page "/"
@rendermode InteractiveServer
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject ProtectedSessionStorage sessionStorage

<PageTitle>Home</PageTitle>

<div class="bg-image-blurred" />
<div class="d-flex flex-column align-items-center h-75 z-1">

	@if (submittedUsername == false)
	{
		<h1 class="title-header">Welcome!</h1>
		<div class="d-flex flex-column m-auto align-items-center">
			<p class="h6 fw-light text-light w-75 text-center">
				This is a temporary 'login' page as I have not yet implemented a database.
				Please enter your username below!
				</p>
			<form @onsubmit="UsernameEntered" class="mt-4">
				<input type="text" @bind="username" class="form-text"/>
			</form>
		</div>
	}
	else {
			<h1 class="title-header">Novè's Applet Collection</h1>

			@if (Applets == null)
			{
				<p class="fw-bold h5 text-light">Loading applets, please wait...</p>
			} 
			else
			{
				@foreach (var applet in Applets)
				{
					<NavBox Applet="applet"></NavBox>
				}
			}
	}
</div>

@code {
	IEnumerable<AppletModel> Applets;
	bool submittedUsername = false;

	string username = string.Empty;

	protected override Task OnInitializedAsync()
	{
		Applets = AppletFinder.GetApplets();
		return Task.CompletedTask;
	}

	private async Task UsernameEntered()
	{
		await sessionStorage.SetAsync("username", username);
		submittedUsername = true;
		await InvokeAsync(StateHasChanged);
	}
}