@page "/"
@rendermode InteractiveServer
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject ProtectedSessionStorage sessionStorage

<PageTitle>Home</PageTitle>

<div class="d-flex flex-column justify-content-center align-items-center flex-wrap align-content-center h-50">

	@if (submittedUsername == false)
	{
		<p class="h1 fw-bold bg-primary text-light bg-opacity-75 rounded-3 p-4">Welcome to my personal website!</p>
		<p class="h6 fw-light text-light w-75 text-center">
			This is a temporary 'login' page as I have not yet implemented a database.
			Please enter your username below!
			</p>
		<form @onsubmit="UsernameEntered" class="mt-4">
			<input type="text" @bind="username" class="form-text"/>
		</form>
	}
	else {
		<h1 class="text-center text-light p-3 m-0 fw-light">Novè's Collection</h1>

		@if (Applets == null)
		{
			<p class="fw-bold h5 text-light">Loading applets, please wait...</p>
		} 
		else
		{
			@foreach (var applet in Applets)
			{
				<NavBox Applet="applet"></NavBox>
			}
		}
	}
</div>

@code {
	IEnumerable<AppletModel> Applets;
	bool submittedUsername = false;

	string username = string.Empty;

	protected override Task OnInitializedAsync()
	{
		Applets = AppletFinder.GetApplets();
		return Task.CompletedTask;
	}

	private async Task UsernameEntered()
	{
		await sessionStorage.SetAsync("username", username);
		submittedUsername = true;
		await InvokeAsync(StateHasChanged);
	}
}