@page "/"
@rendermode InteractiveServer
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject ProtectedSessionStorage SessionStorage
@inject NavigationManager NavManager

<PageTitle>Home</PageTitle>

<div class="bg-image-blurred" />
<div class="d-flex flex-column align-items-center h-75 z-1">

	@if (submittedUsername == false)
	{
		<h1 class="title-header title-header-opaque">Welcome!</h1>
		<div class="opaque-box">
			<p class="h5 fw-lighter w-75 text-center">
				Please enter your username below!
				</p>
			<form @onsubmit="UsernameEntered" class="mt-4">
				<input type="text" @bind="username" class="text-box"/>
				<button type="submit" class="btn btn-primary">Confirm</button>
			</form>
		</div>
	}
	else 
	{
		<h1 class="title-header title-header-opaque">All ready! Where to next?</h1>
		<div class="d-flex flex-wrap align-items-center justify-content-center w-75 h-100">
			@foreach (var pageInfo in ComponentFinder.GetMainPages())
			{
				<MainPageCard PageInfo="pageInfo" OnPageClicked="(href) => NavManager.NavigateTo(href)"/>
			}
		</div>
	}
</div>

@code {
	bool submittedUsername = false;
	string username = string.Empty;

	IEnumerable<string>? mainPages;

	async Task UsernameEntered()
	{
		await SessionStorage.SetAsync("username", username);
		submittedUsername = true;
	}
}