$primary: #dc3545;
$custom-colors: ( "disabled": #9a9a9a );

@import "../wwwroot/bootstrap/scss/bootstrap.scss";

$theme-colors: map-merge($theme-colors, $custom-colors);


@mixin add-margin($mt, $ms, $mb, $me) {
    margin-top: $mt;
    margin-left: $ms;
    margin-right: $me;
    margin-bottom: $mb;
}

@mixin set-flex-column() {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bg-image-blurred {
    position: fixed;

    top: 0;
    left: 0;

    background-image: url("../wwwroot/img/home-bg.jpg");
    /* Add the blur effect */
    filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    /* Full height */
    height: 100%;
    width: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    z-index: -1;
}

/* 
    Used for h1 titles typically at the top of the page 
    Use this when you want to place emphasis on some text
*/
.title-header {
    font-size: $h1-font-size;
    font-weight: bold;
    background-color: $red-600;
    text-align: center;
    color: $light;
    padding: ($spacer * 2);
    border-radius: $border-radius-lg;
    user-select: none;
    -webkit-user-select: none;
}

.title-header-opaque {
    background-color: rgba($red-600, 0.75);
}

/* 
    Use these for containers that are on top of a background image (e.g Home page)
*/
.opaque-box {
    @include add-margin(auto, $spacer, auto, $spacer);
    @include set-flex-column();

    padding: ($spacer * 2);
    border-radius: $border-radius-lg;
    background-color: rgba(10,0,0,0.5);
}

/*
    General use <input type="text"> style
*/
.text-box {
    color: $gray-200;
    font-size: $font-size-base;
    padding: ($spacer * 0.2);
}

.main-page-card {
    @include set-flex-column();
    @include add-margin(0, $spacer, $spacer, $spacer);

    color: $gray-100;
    background-color: rgba($orange-700, 0.5);
    border-radius: $border-radius-lg;
    padding: ($spacer * 1.5);
    user-select: none;
    cursor: pointer;

    h1 {
        font-weight: bold;
        margin-bottom: $spacer;
    }

    p {
        font-weight: lighter;
    }
}

